body {
    background-image: linear-gradient(178.6deg, #010002 16.4%, #8a1d7b 56.1%);
}

/* CARRUSEL DESDE AQUI  */

/* Slideshow container */
#slideshow-container {
    position: relative;
    height: 380px;
}

/* Hide the images by default */
.mySlides {
    width: 100%;
    display: none;
    height: 380px;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* FIN CARRUSEL */

#recuadro-1 {
    display: flex;
    flex-direction: row;
    gap: 55px;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 400px;
    color: white;
}

.r-1_hijo1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 350px;
    height: 250px;
}

.r-1_hijo1>img {
    width: 180px;
    height: 200px;
}

.r-1_hijo2>img {
    border-radius: 15px;
    width: 350;
    height: 250px;
}


#recuadro-2 {
    background-image: url('../images/background_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 1px auto;
}

#titulo {
    background-color: rgba(94, 23, 59, 0.322);
    text-align: center;
    width: 65%;
    border-radius: 20px;
}

.centrado {
    width: 60%;
    border-radius: 15px;
}

#recuadro-3 {
    color: white;
    background-color: #010002e7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.categoria {
    justify-content: center;
    text-align: center;
    padding: 30px;
    color: white;
}

.categoria img {
    border-radius: 15px;
    width: 300px;
    height: 300px;
}

#recuadro-4 {
    background: #0100024f;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    width: 100%;
    height: 400px;
}

.r-4_hijo {
    border-radius: 15px;
    background-color: #0c0a0ea2;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    width: 65%;
    height: 380px;
}

#recuadro-4 img {
    width: 80%;
    height: 400px;
}

#recuadro-4 form {
    width: 45%;
    display: flex;
}

#recuadro-4 form .campo {
    width: 100%;
    padding: 15px 15px;
    border: none;
    border-radius: 3px 0px 0px 3px;
}

#recuadro-4 form .btn-Sus {
    padding: 15px 15px;
    border: none;
    border-radius: 0px 3px 3px 0px;
    background: #3D0E37;
    cursor: pointer;
    color: white;
    outline: 0px;
}

#recuadro-5 {
    border: 1px solid black;
    background-color: #010002e7;
    color: white;
    text-align: center;
    width: 100%;
    height: 400px;
}

.divisor {
    width: 100%;
    height: 10px;
    background-color: #010002e7;
    border: none;
}