body {
    background-image: linear-gradient(178.6deg, #010002 16.4%, #8a1d7b 56.1%);
}

#ad_titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    background-color: white;
    color: black;
    width: 80%;
    height: 50px;
    border-radius: 15px;
}

.ad_contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    background-image: linear-gradient(109.6deg, rgb(31, 29, 30) 11.2%, rgb(92, 40, 89) 91.1%);
    color: black;
    width: 80%;
    height: 200px;
    border-radius: 15px;
}

.ad_contenido h2 {
    color: white;
}

.ad_contenido p {
    width: 80%;
    text-align: center;
    color: white;
}